input {
    text-align: right;
    width: 25%;
    height: 25px;
}
input[type="text"] {
    font-size:18px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: #395cc6;
}

button {
  background-color: aqua;
  color: navy;
  font-size: 18px;
  border-radius: 12px;
}
body {
  background-color: #f9f906;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
h1 {
  color: 	#395cc6
}
.container {
  width: 400px;
  margin: 0 auto;
}
select {
   background-color: aqua;
   height: 24px;
   font-size: 18px;
}
option {
   background-color: aqua;
}
#operator, #equal {
    font-size: 33px;
    color: #395cc6
}
.equation {
  margin-bottom: 20px;
}
#display {
  background-color: white;
  width: 25%;
}
.green {
  color: limegreen;
  font-weight: bold
}
.red {
  color: red;
  font-weight: bold
}
